.cabeçalho__menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    z-index: 2;
}

.cabeçalho{
    background-color: var(--rosa-claro);
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
    z-index: 2;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;

}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botão:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--rosa-claro);
}

.lista-menu__titulo{
    color: var(--rosa);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--rosa-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    margin: auto;
}

.logo{
     width: 35%;
}

.container__botão{
    display: none;
}

.container__titulo{
    display: none;
}

.container__texto{
    display: none;
}

.opções{
    display: none;
  }


.container__botão:checked ~ .container__rotulo > .cabeçalho__menu-hamburger {
    background-image: url(../img/menuaberto.svg);
}

.container__botão:checked ~ .container__rotulo{
   background: var(--rosa-degrade);
}


 @media screen and (min-width:1024px) {

    .logo{
        width: 15%;
    }

    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        color: var(--branco);
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opções{
        display: flex;
        margin-right: 80px;
    }

    .opções__item{
        padding: 0 1em;
        text-transform: uppercase;
        color: var(--branco);
    }

    .opções__link{
        text-decoration: none;
        color: var(--branco);
    }

    .container__imagem-transparente{
        display: none;
    }

    .cabeçalho__menu-hamburger{
        display: none;
    }

    .opções__botão:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opções__botão:checked ~ .opções__rotulo > .opções__item{
        background: var(--rosa-degrade);
        color: var(--branco);
    }

    .opções__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
       background: var(--rosa-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco) ;
        text-decoration: none;
    }

    .opções__botão{
        display: none;
    }
}


@media screen and (min-width:1728px){

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--branco);
        padding-right: 30px;
    }

    .opções{
        margin-right: auto;
    }

    .container__texto{
        display: block;

    }
}